/out/
/resources/public/js/compiled/
/target/
/*-init.clj
/*.log

# Leiningen
/.lein-*
/.nrepl-port

# Node.js dependencies
/node_modules/

# shadow-cljs cache, port files
/.shadow-cljs/

#calva
.calva/
.cpcache/
.clj-kondo/.cache
.lsp/
# Local Netlify folder
.netlify

/resources/public/ads.txt